@use "../../../index.scss";

.about {
//    margin: 15px;
   padding: 25px;
	min-height: 100vh;
	background-color: black;
	display: flex;
	div {
      padding: 0 10px;
      background-color: index.$background-color;
	}

	img {
		height: 40vw;
	}
}
