@use '../../../index.scss';

.about {
    padding: 25px;
    min-height: 100vh;
    background-color: black;
    display: flex;
    div {
        padding: 0 10px;
        background-color: index.$background-color;
		
		h1{


			font-size: 2rem;
		}
    }

    img {
        height: 40vw;
    }
}
