@use "../../../index.scss";

.footer {
	width: 100%;
	min-width: 280px;
	margin: 15px 0;
	
	
	.background{
		@include index.borderStyle;
		box-sizing: border-box;
		padding: 15px;
		background-color: index.$background-color-secondary;
		p{
			font-size: index.$font-size;
			margin: 0;
			padding: 10px 0 10px 40px;
			z-index: 10;
	
		}
	}
}
