@use "../../../index.scss";

.footer {
	margin: 0 -25px;
	// position:;
	bottom: 0;
	width: 120%;
	// margin: 0px;
	.wave{
		// background-color: aqua;
		fill: index.$background-color-secondary;
	}
	.background{
		background-color: index.$background-color-secondary;
		p{
			margin: 0;
			padding: 10px 0 10px 40px;
			z-index: 10;
	
		}
	}
}
