@use "../../../index.scss";

$sidebar-size: 20%;

header {
	box-sizing: border-box;
	width: $sidebar-size;
	max-width: 400px;
	height: 100vh;
	.sidebar {
		box-sizing: border-box;
		width: $sidebar-size;
		max-width: 400px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: index.$background-color;
		top: 0;
		left: 0;
		overflow-y: hidden; /* Pokud je obsah menu větší než výška obrazovky, umožní skrolování v menu */
		overflow-x: hidden;
		z-index: 20;
		border-right: index.$background-color-secondary solid 2px;

		position: fixed;

		button {
			display: none;
		}

		.link {
			text-wrap: noWrap;
			padding: 10px 25px;
			margin: 20px 0 0;
			text-decoration: none;
			font-size: 1.4rem;
			color: index.$text-color;
			z-index: 5;
			background: linear-gradient(90deg, index.$background-color, black);
			border-radius: 5px;

			border: black 2px solid;

			display: flex;
			align-items: center;

			.icon {
				padding-right: 10px;
               min-width: 23px;
			}

			p {
				margin: 0;
			}

			&.active {
				color: index.$third-color;
				border: index.$third-color 2px solid;
			}
		}

		.rainbow {
			position: absolute;
			width: 550px;
			bottom: 0;
			left: -140px;
		}
	}
	@media (max-width: index.$screen-size) {
		min-width: 0;
		width: 0;
		margin: 0;
		padding: 0;

		.sidebar {
			position: fixed;
			min-width: 0;
			width: 0;
			margin: 0;
			padding: 0;
			transition: min-width 0.2s linear;
			overflow-x: hidden;
			background-color: rgba($color: index.$background-color, $alpha: 0.9);

		

			&.open {
				min-width: 190px;
			}

			button {
				background-color: transparent;
				font-size: 45px;
				color: index.$text-color;
				border: none;
				display:block;
				position: fixed;
				right: 30px;
				top: 10px;
				cursor: pointer;
			}
		}
	}
}
