@use "../../index.scss";

.github-page {
	h1 {
		font-size: 3rem;
		@include index.coloredFont;
	}

	.box-text {
		@include index.borderStyle;
		
	}
	
	.box-logo {
		@include index.borderStyle;
		

		img {
			// background-color: white;

			width: 320px;
			height: 320px;
		}
	}
}
