@use "../../index.scss";

.github-page {
	.first-block {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;

		.box-text {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 25px;

			@include index.borderStyle;
			flex: 1;
			h1 {
				@include index.coloredFont;

				font-size: 10vw;
				margin: 0;
			}
		}

		.box-logo {
			@include index.borderStyle;

			// flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 25px;

			img {
				// background-color: white;
				width: 100%;
				max-width: 320px;
				// height: 320px;
			}
		}
	}
}
