@use "../../index.scss";

.one-project {
	width: 100%;
	min-width: 290px;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: hidden;

	align-self: center;
	justify-self: center;

	display: flex;
	flex-direction: column;
	align-items: center;

	.header {
		@include index.borderStyle;

		box-sizing: border-box;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		h1 {
			@include index.coloredFont;
			font-size: 5vw;
			margin: 0;
		}

		@media (max-width: index.$screen-size) {
			h1 {
				font-size: 3rem;
			}
		}
	}

	.description {
		width: 100%;
		margin-top: 15px;
		box-sizing: border-box;
		gap: 15px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.git-box {
			@include index.borderStyle;
			min-width: 280px;
			min-height: 280px;
			padding: 25px;
			box-sizing: border-box;
			flex: 1;

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			gap:15px;

			h2 {
				font-size: 3rem;
				margin: 0;
			}

			.git-link {
				padding: 5px 10px;
				background-color: transparent;
				font-size: 1.7rem;
				text-decoration: none;
				color: index.$third-color;
				margin: 0;

				background: linear-gradient(45deg, black, #141414);
				background-color: index.$background-color;
			}
		}

		.text-box {
			@include index.borderStyle;
			min-width: 350px;
			padding: 25px;
			box-sizing: border-box;
			flex: 1;
			flex-grow: 2;
			font-size: index.$font-size;

			text-align: justify;
			hyphens: auto;

			@media (max-width:400px) {
				min-width: 270px;
				
			}
		}
	}

	.project-box {
		@include index.borderStyle;

		margin-top: 15px;
		padding: 25px;
		width: 100%;
		box-sizing: border-box;
	}

	.back-to-projects {
		@include index.borderStyle;
		margin-top: 15px;
		box-sizing: border-box;
		width: 100%;

		display: flex;
		flex-direction: row;

		justify-content: center;
		align-items: center;
		gap: 15px;

		button {
			box-sizing: border-box;
			height: 40px;
			padding: 5px 10px;
			background-color: index.$third-color;
			color: index.$text-color;
			font-size: 2rem;
			border-radius: 5px;
			border: none;

		
			&:active {
				color: index.$background-color-secondary;
				box-shadow: 0 0 15px white;
			}

			.icon {
				padding: 0 15px;
			}
		}

		a {
			box-sizing: border-box;
			background-color: index.$third-color;
			color: index.$text-color;
			text-decoration: none;
			height: 40px;
			padding: 5px 10px;
			margin: 30px 0px;
			font-size: index.$font-size;

			display: flex;
			text-align: center;
			align-items: center;
			border-radius: 5px;

			p{
				margin: 0;
				padding: 0;
				font-size: 1.1rem;
			}
		

			&:active {
				color: index.$background-color;
				box-shadow: 0 0 15px white;
			}

			.icon {
				align-self: center;
				padding-right: 15px;
				padding: 0 15px;
			}

			@media (max-width: 400px) {
				p{
					display: none;
				}
			}
		}
	}
}
