@use "../../index.scss";

.one-project {
	width: 100%;

	align-self: center;
	justify-self: center;

	min-height: 100vh;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;

	align-items: center;

	.description {
		@include index.borderStyle;

		box-sizing: border-box;
		width: 100%;
		padding: 25px;
		text-align: justify;
		hyphens: auto;

		h1 {
			@include index.coloredFont;

			font-size: 3rem;
		}
	}

	.project-box {
		@include index.borderStyle;
		
		margin-top: 30px;
		width: 100%;
	}

	a {
		background-color: index.$first-color;
		color: index.$text-color;
		text-decoration: none;
		width: 120px;
		padding: 5px 10px;
		margin: 60px 0;
		font-size: index.$font-size;

		text-align: center;
		display: flex;
		justify-self: center;

		&:hover {
			box-shadow: 0 0 15px;
		}

		.icon {
			align-self: center;
			padding-right: 15px;
			padding: 0 15px;
		}
	}
}
