@use "../../../index.scss";

header {
	height: 40px;
	position: relative;

	.navbar {
		button {
			display: none;
		}
		
		.link {
			padding-right: 15px;
			text-decoration: none;
			font-size: 1.4rem;
			color: index.$text-color;
			
			&.active {
				color: index.$first-color;
			}
		}
	}
	
	@media (max-width: 600px) {
		.navbar {
			display: flex;
			position: fixed;
			flex-direction: column;
			padding: 5px;

			button {
				width: 55px;
				height: 55px;
				display: block;
				font-size: 2rem;
				
			}
			&.open {
				background-color: index.$background-color;
			}

			.link {
				padding: 5px 0;
				font-size: 2rem;
				display: none;

				&.open {
					display: block;
				}
			}
		}
	}
}
