@use "../../index.scss";

.about {
	.third-block {
		@include index.borderStyle;

		width: 100%;
		margin: 15px 0 0px;
		z-index: 2;
		box-sizing: border-box;
	}

	.fourth-block {
		margin: 15px 0 0px;
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		justify-content: space-around;
		align-content: space-around;
		gap: 15px;

		.box-text {
			@include index.borderStyle;

			flex: 1;
			flex-grow: 1;

			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			text-align: justify;
			hyphens: auto;
			h2 {
				@include index.coloredFont;

				font-size: 3rem;
				margin-bottom: 5px;
				opacity: 0;
				transform: translateY(20px);
				transition: all 1s ease-in;

				&.active {
					opacity: 1;
					transform: translateY(0px);
				}
			}

			p {
				max-width: 800px;
				padding: 30px;

				opacity: 0;
				transform: translateY(20px);
				transition: all 1.5s ease-in;
				&.active {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}
		.box-tech-bars {
			@include index.borderStyle;

			flex: 1;
			flex-grow: 1.2;
		}
	}

	.fifth-block {
		width: 100%;
		margin: 15px 0 0;
		display: flex;
		flex-wrap: wrap;
		gap: 15px;

		.box-text {
			@include index.borderStyle;

			flex: 1;
			height: auto;

			display: flex;
			justify-content: center;
			align-items: center;
			p {
				padding: 30px;
				flex: 1;
				text-align: justify;
				hyphens: auto;

				opacity: 0;
				transform: translateY(20px);
				transition: all 2s ease-in;
				&.active {
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}

		.box-robot {
			@include index.borderStyle;
			box-sizing: border-box;
			// width: 100%;

			padding: 10px;
			flex: 1;
			flex-grow: 1.4;

			display: flex;
			align-items: center;
			justify-content: center;

			.robot-div {
				aspect-ratio: 5/3;
				position: relative;
				border-radius: index.$box-radius;
				height: 367px;
				background-image: url(../../images/factory.jpg);
				background-size: cover;

				.robot {
					position: absolute;
					top: -95px;
					left: 30px;
					width: 450px;
					transform: scaleX(-1);
					z-index: 2;
				}
			}
		}
	}

	.sixth-block {
		@include index.borderStyle;

		width: 100%;
		margin: 15px 0 0;
		box-sizing: border-box;
		overflow: hidden;

		.text6 {
			padding: 20px;
			margin: 0;
			text-align: justify;
			hyphens: auto;

			opacity: 0;
			transform: translateY(20px);
			transition: all 2s ease-in;
			&.active {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}

	.seven-block {
		width: 100%;
		margin: 15px 0 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;

		.box-email {
			@include index.borderStyle;

			box-sizing: border-box;
			width: 100%;
			flex: 1;
			flex-grow: 1.4;

			padding: 35px 0;
		}

		.box-text {
			@include index.borderStyle;

			flex: 1;
			flex-grow: 1;
			min-width: 270px;
		}
	}
}
