@use "../../index.scss";

.about {
	@media (max-width: index.$screen-size) {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		.first-block {
			padding: 0px;
			.box {
				margin: 0;
				.nadpis {
					margin: 0;
					padding: 0px;
					.text2{
					}
				}
			}
		}

		.second-block {
			.box {
				margin: 0;
				.working {
					margin: 20px 0;
				}

				p {
					margin: 40px 0;
				}
			}
		}

		.third-block {
			margin: 0;
		}

		.fourth-block {
			margin: 0;

         // Tech bars
			.bars {
				width: 100%;
			}
		}

      .fifth-block {
			margin: 20px 0;
         padding: 0;

		}

      .sixth-block {
			margin: 20px 0;
         padding: 0;

		}
	}
}
