@use "../../index.scss";

.about {
	width: 86vw;
	// overflow-x: hidden;

	@media (max-width: 1000px) {
		width: 100vw;
	}

	.first-block {
		padding: 15px 15px 15px 50px;
		box-sizing: border-box;
		// height: 100vh;

		background: linear-gradient(115deg, black, #141414, #012e40);

		.box {
			display: flex;
			flex-wrap: wrap;
			margin: 20px;

			// border: 1px solid red;
			background-color: #141414;

			align-items: center;
			.nadpis {
				min-width: 200px;
				margin: 10px;
				flex: 1;
				text-align: center;
				overflow: hidden;

				border: index.$background-color 1px solid;
				
				h1 {
					font-size: 3rem;
					transform: translateX(600px);
					opacity: 0;
					animation: fadeIn 0.3s forwards ease-in-out, opacityIn 2s forwards;
				}

				.text1 {
					font-size: 1.5rem;
					transform: translateX(600px);
					opacity: 0;
					animation: fadeIn 1s forwards ease-in-out, opacityIn 2s forwards;
				}

				.text2 {
					font-size: 1.5rem;
					transform: translateX(600px);
					opacity: 0;
					animation: fadeIn 1.5s forwards ease-in-out, opacityIn 2s forwards;
				}

				.react-icon {
					margin: 25px;

					&.react {
						animation: rotate 20s forwards infinite linear;
					}
				}
			}

			img.me {
				// flex-shrink: 0;
				width: 38vw;
				height: 38vw;

				min-width: 300px;
				min-height: 300px;
				margin-top: 15px;
				z-index: 5;
			}
		}
	}

	@keyframes fadeIn {
		to {
			transform: translateX(0px);
		}
	}

	@keyframes opacityIn {
		to {
			opacity: 1;
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(360deg);
		}
	}

	.second-block {
		min-height: 100vh;
		background: linear-gradient(65deg, black, #141414, #012e40);

		p {
			font-size: 1.5rem;
			min-width: 200px;
			margin: 10px;
			flex: 1;
			text-align: left;
		}

		img.working {
			transform: scaleX(-1);
			// flex-shrink: 0;
			width: 25vw;
			height: 25vw;

			min-width: 300px;
			min-height: 300px;
		}
	}

	.third-block {
		min-height: 100vh;
		background: linear-gradient(115deg, black, #141414, #012e40);

		img {
			width: 550px;
			transform: scaleX(-1);

			// mix-blend-mode: multiply;
			// background-color: red;
		}

		p {
			margin: 0;
		}
	}

	.fourth-block {
		min-height: 100vh;
		background: linear-gradient(65deg, black, #141414, #012e40);

		h1 {
			margin: 0;
		}
	}
}
