@use "../../index.scss";

.about {
	.second-block {
		margin-bottom: 70px;

		.box {
			display: flex;
			flex-wrap: wrap;
			margin: 100px 20px 20px;
			padding: 20px;
			align-items: center;

			p {
				margin: 30px;
				padding: 80px;
				flex: 1;
				text-align: justify;

				transform: translateX(600px);
				opacity: 0;

				&.active {
					animation: fadeIn 1.5s forwards ease-in-out, opacityIn 2s forwards;
				}
			}

			img.working {
				transform: scaleX(-1);
				width: 25vw;
				height: 25vw;

				min-width: 300px;
				min-height: 300px;
			}
		}
	}
}
