@use '../../index.scss';

.about {
    @media (max-width: index.$screen-size) {
        width: 100%;
        // padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .first-block {
            .box {
                margin: 0;
                .nadpis {
                    margin: 0;
                    padding: 0px;
               
                    p{padding: 0 5px;}
                }
            }
        }

        .second-block {
            .box {
                margin: 0;
                padding: 0;
                .working {
                    // margin: 20px 0;
                }

                p {
                    // margin: 40px 0;
                    padding: 0;
                }
            }
        }

        .third-block {
            margin: 0;
        }

        .fourth-block {
            
            // Tech bars
            .bars {
                width: 100%;
            }
        }

     

    }
}
