@use "../../../../index.scss";

.appContainer {

	.cardContainer {
		// width: 60%;
		max-width: 600px;
		margin: 30px auto;
		padding: 5px 10px;
		border-radius: 5px;
		box-shadow: 0 0 15px rgba(255, 0, 0, 0.667);

		h2 {
			font-weight: 400;
			padding-right: 10px;
		}

		.firstBox {
			padding: 5px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
            text-align: center;
            h2{
                hyphens: auto;

            }

			@media (max-width: 630px) {
				flex-direction: column;
			}
		}

		.close {
			/* padding: 5px; */
			max-height: 0;
			overflow: hidden;
			transition: max-height 3s ease;
		}

		.open {
			max-height: fit-content;
		}

		button {
			text-align: center;
			height: 30px;
			min-width: 100px;
			background-color: rgb(130, 9, 9);
			color: aliceblue;
			border-radius: 5px;
			cursor: pointer;
			border: none;

			&:hover {
				box-shadow: 0 0 15px white;
			}
		}
	}
}
