.one-card-netflix {
    box-shadow: 0 0 15px #8f121a;
    width: 290px;
    padding: 12px;

    img {
        display: block;
        width: 285px;
        margin: 0 auto;
        height: 165px;
        overflow: hidden;
    }
}
