@use "../../../../index.scss";

.emailForm {
	justify-self: center;
	width: 90%;
	// height: 80vh;
	padding: 15px;

	background-image: url("./img.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	form {
		width: 500px;
		height: auto;
		box-sizing: border-box;
		padding: 30px;
		border: solid 1px rgba(255, 255, 255, 0.534);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		gap: 10px;

		box-shadow: 0 0 5px rgba(255, 255, 255, 0.405);
		backdrop-filter: blur(7px);

		.contact-me {
			margin: 10px 0 20px;
			color: white;
			border-radius: 5px;
			font-size: 2.5rem;
			transition: all 1s linear;

			&.active {
				color: red;

				box-shadow: none;
			}

			.message {
				display: block;
				margin: 0;
				padding: 5px 10px;
				justify-self: center;
				align-self: center;
				font-weight: 600;
			}
		}

		input {
			box-sizing: border-box;
			margin: 10px;
			font-size: 1.2rem;
			width: 90%;
			height: 50px;
			padding: 5px 25px;
			outline: none;
			border: none;
			border: 1px solid rgba(255, 255, 255, 0.515);
			background-color: transparent;
			color: index.$text-color;
			border-radius: 30px;
			box-shadow: 0 0 5px rgba(255, 255, 255, 0.405);
			
		}

		input::placeholder{
			color: rgba(255, 255, 255, 0.855);
		}

		textarea {
			box-sizing: border-box;
			border-radius: 25px;
			width: 90%;
			padding: 10px;
			height: 150px;
			display: block;
			margin: 10px;
			font-size: 1.2rem;
			border: none;
			resize: none;
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.573);
			color: index.$text-color;
			background-color: transparent;
			box-shadow: 0 0 5px rgba(255, 255, 255, 0.405);
		}

		input[type="submit"] {
			width: 90%;
			background-color: white;
			color: black;
			transition: box-shadow 1s linear;
			font-size: 1.5rem;
			cursor: pointer;
			&:hover {
				background-color: black;
				color: white;
				box-shadow: 0 0 15px white;
			}

			&:active {
				background-color: index.$second-color;
			}
		}
	}
}
