@use "../../../../index.scss";

.coordinates {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-size: index.$font-size;

	overflow: hidden;

	h2 {
		text-wrap: wrap;
	}

	img {
		max-width: 100%;
	}

	.box {
		height: 150px;
	}
}
