@use "../../../index.scss";

.email-form {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;

	display: flex;

	form {
		box-sizing: border-box;

		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.contact-me {
			box-sizing: border-box;
			margin: 10px;
			padding: 5px;
			border-radius: 5px;
			font-size: 1.8rem;
			background-color: index.$background-color;
			color: index.$text-color;
			transition: all 1s linear;
			border: solid 1px rgba(255, 255, 255, 0.2);

			&.active {
				color: index.$text-color;
				background-color: index.$background-color;
				box-shadow: none;
			}

			.message {
				display: block;
				margin: 0;
				padding: 5px 10px;
				justify-self: center;
				align-self: center;
				font-weight: 600;
			}
		}

		.main-box {
			display: flex;
			justify-content: space-between;

			.box-inputs {
				display: flex;
				flex-direction: column;
				flex: 1;

				.inp-text {
					margin: 10px;
					font-size: index.$font-size;
					max-width: 320px;
					height: 30px;
					padding: 5px 25px;
					outline: none;
					background-color: index.$background-color;
					color: index.$text-color;
					border-radius: 5px;

					border: solid 1px rgb(71, 69, 69);
					box-shadow: 0 0 0 30px index.$background-color inset;
					-webkit-text-fill-color: index.$text-color;
				}
			
			}

			.email-icon {
				font-size: 9rem;
				font-weight: 100;
				padding-right: 35px;
				animation: blink 7s linear infinite;
			}

			@keyframes blink {
				0% {
					color: white;
				}
				50% {
					color: index.$third-color;
				}
				100% {
					color: white;
				}
			}

			@media (max-width: 700px) {
				display: block;
				.email-icon {
					display: none;
				}
			}
		}
		textarea {
			box-sizing: border-box;
			border-radius: 5px;

			padding: 15px 25px;
			height: 150px;
			display: block;
			margin: 10px;
			font-size: index.$font-size;
			border: none;
			resize: none;
			outline: none;
			border: solid 1px rgba(255, 255, 255, 0.2);
			background-color: index.$background-color;
			color: index.$text-color;
		}

		.send-button {
			margin: 10px;
			font-size: index.$font-size;
			height: 30px;
			outline: none;
			border: none;

			box-sizing: content-box;
			padding: 5px 0;
			background-color: index.$background-color;
			color: index.$text-color;
			transition: box-shadow 1s linear;
			border: solid 1px rgba(255, 255, 255, 0.2);
			cursor: pointer;
			&:hover {
				background-color: index.$second-color;
			}

			&:active {
				background-color: index.$second-color;
			}
		}
	}
}
