@use '../../../index.scss';

.email {
    padding: 15px;
    form {
        display: flex;
        flex-direction: column;
        input {
            box-sizing: border-box;
            margin: 10px;
            font-size: 1.1rem;
            max-width: 250px;
            padding: 5px 10px;
            outline: none;
            border: none;
            box-shadow: 0 0 3px index.$first-color;
            border: 1px solid index.$first-color;
            background-color: index.$background-color;
            color: index.$text-color;
            border-radius: 5px;
        }
        
        textarea {
            border-radius: 5px;
            max-width: 500px;
            padding: 5px 10px;
            height: 150px;
            display: block;
            margin: 10px;
            font-size: 1.1rem;
            border: none;
            resize: none;
            outline: none;
            box-shadow: 0 0 3px index.$first-color;
            border: 1px solid index.$first-color;
            background-color: index.$background-color;
            color: index.$text-color;
            // background-color: black;
        }

        input[type="submit"]{
            
            width: 250px;
            background-color: index.$first-color;
        }
    }
}
