$background-color: #293241;
$text-color: #dffbfc;

$first-color: #ee6b4d;
$second-color: #3d5b81;
$third-color: #9bc0d9;

.main-body {
	margin: 0;
}

:root {
	padding: 0;
	margin: 0;

	background-color: $background-color;
	color: $text-color;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;
}
