$background-color-secondary: #0c1629;
$background-color: #141414;
$background-gradient: linear-gradient(135deg, black, #141414, #012e40);

$text-color: #f4e2de;

$first-color: #e3371e;
$second-color: #3d5b81;
$third-color: #0593a2;
$border-color: rgba(255, 255, 255, 0.186);

$screen-size: 1000px;
$font-size: 1.5rem;
$box-radius: 10px;

@mixin coloredFont {
	background: linear-gradient(to right, red, $second-color);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin borderStyle {
	background-color: $background-color-secondary;
	border-radius: $box-radius;
	border: solid 1px $border-color;
}

.main-body {
	margin: 0;
	// max-width: 100vw;
	// width: 100vw;
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
	// min-width: 320px;
}

:root {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 100vh;
	// min-width: 320px;

	// background: linear-gradient(60deg, black, #141414, #012e40);
	background-color: $background-color;
	background-attachment: fixed;
	overflow-x: hidden;
	color: $text-color;

	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	// font-family: cursive;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

	font-weight: 400;
	font-size: 14px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
